<%a = 'Eventssssss'%>

<head>
	
</head>
<div id="navigation">
	<%if session[:company] == 'dreamwrkz'%>
	<a href="/pages/company">Home</a>
	<%else%>
	<a href="/pagesgro/company">Home</a>
	<%end%>
	<a href="/admins/approveleave">Approve leaves</a>
	<a href="/pages/logout">Logout</a>
</div>
<%= form_tag("/admins/calendar/", :method => "post") do %>
<%=select_tag(:selection, "<option>All</option><option>Dreamwrkz</option><option>Groventure</option>".html_safe)%>
<%= submit_tag("Update", :class=>"btn") %>
<%end%>

<div id='calendar'></div>

<%=javascript_tag do%>
		$(document).ready(function() {

			// page is now ready, initialize the calendar...

			$('#calendar').fullCalendar({
				// put your options and callbacks here
				
    eventSources: [

        // your event source
        {
            events: <%=@result.html_safe%>,
                // an option!
            textColor: 'white' // an option!
        }
        
        
       
        
        

        // any other event sources...

    ]
  

				
				
				
				
				
				
			})

		});
	<%end%>