<h2>Calendar</h2>
<%a = 'Eventssssss'%>

<head>
	
</head>
<div id="navigation">
	<%if session[:company] == 'dreamwrkz'%>
	<a href="/pages/company">Home</a>
	<%else%>
	<a href="/pagesgro/company">Home</a>
	<%end%>
	<a href="/admins/approveleave">Approve leaves</a>
	<a href="/pages/logout">Logout</a>
</div>
<%= form_tag("/admins/calendar/", :method => "post") do %>
<%=select_tag(:selection, "<option>All</option><option>Dreamwrkz</option><option>Groventure</option>".html_safe)%>
<%= submit_tag("Update", :class=>"btn") %>
<%end%>

<table>
	<tr><td bgcolor="#FF0000">Normal approved</td></tr>
	<tr><td bgcolor="#CC66FF">Normal not approved</td></tr>
	<tr><td bgcolor="#19B5F3">Childcare approved</td></tr>
	<tr><td bgcolor="#FFFF19">Childcare not approved</td></tr>
	<tr><td bgcolor="#26A65B">Medical approved</td></tr>
	<tr><td bgcolor="#C8F7C5">Medical not approved</td></tr>
	<tr><td bgcolor="#F9BF3B">Unpaid approved</td></tr>
	<tr><td bgcolor="#FDE3A7">Unpaid not approved</td></tr>
	
</table>

<div id='calendar'></div>


<%=javascript_tag do%>
		$(document).ready(function() {

			// page is now ready, initialize the calendar...

			$('#calendar').fullCalendar({
				// put your options and callbacks here
				
    eventSources: [

        // your event source
        {
            events: <%=@result.html_safe%>,
                // an option!
            textColor: 'black' // an option!
        }
        
        
       
        
        

        // any other event sources...

    ]
  

				
				
				
				
				
				
			})

		});
	<%end%>