<h2>Change password</h2>
<%=form_tag("/admins/changepassword2", :method => "post") do %>
<table>
	<tr>
		<td>Old password:</td><td><%= password_field_tag(:oldpassword)%></td>
		
		
	</tr>
	<tr>
		<td>New password:</td><td><%= password_field_tag(:newpassword)%></td>
	</tr>
	<tr>
		<td><%= submit_tag("Change password", :class=>"btn") %></td>
	</tr>
</table>
<%if !flash[:error].nil?%>
<%=flash[:error]%>
<%end%>
<%end%>
