

Entitled annual leave: <%=@numALEntitled%>
<br>
Annual leave you can take now: <%= @numAnnualLeave%>
<br>
Annual leave taken: <%= @leavestaken%>
<br>
Entitled child leave: <%= @numCLEntitled%>
<br />
Child leave you can take now: <%= @numChildLeave%>
<br />
Child leave taken: <%= @childleavestaken%>
<br>
MCs taken: <%= @mctaken%><br>
Unpaid leaves taken: <%= @numUnpaid%><br>
Leaves left:
<table border = 1>
	<tr>
		<th>Annual Leave</th><th>Child Leave</th><th>MC</th>
	</tr>
	<tr>
		<td><%=@leavesleft["normal"]%></td><td><%=@leavesleft["child"]%></td><td><%=@leavesleft["mc"]%></td>
	</tr>
</table>

<% if !flash[:error].nil? %>
<div class="alert alert-error">
	<strong><%= flash[:error] %></strong>
</div>
<%end%>
<!-- Window Start: <%=@windowstart%> -->

<br>

<div id="navigation">
	<%if session[:type]=="Telemarketer" && session[:company] == 'dreamwrkz'%>
	<a href="/pages/tele">Home</a>
	<%elsif session[:type]=="Staff" && session[:company] == 'dreamwrkz'%>
	<a href="/pages/staff">Home</a>
	<%elsif session[:type]=="Telemarketer" && session[:company] == 'groventure'%>
	<a href="/pagesgro/tele">Home</a>
	<%elsif session[:type]=="Staff" && session[:company] == 'groventure'%>
	<a href="/pagesgro/staff">Home</a>
	<%end%>
	<%if session[:company] == 'dreamwrkz'%>
	<a href="/pages/logout">Logout</a>
	<%elsif session[:company] == 'groventure'%>
	<a href="/pages/logout">Logout</a>
	<%end%>
</div>

<table class = "table table-bordered table-condensed" align='center', id='sf'>
	<thead><tr>
		<th>Date Start</th>
		<th>Date End</th>
		<th>Total</th>
		<th>Reason</th>
		<th>Type</th>
		<th>Approved</th>

		<th>Edit</th>
		<th>Delete</th>
	</tr></thead>
	<%@leaves.each do |r|%>
	<tr>
		<td><%= r.datestart%></td>
		<td><%= r.dateend%></td>
		<td><%= r.total%></td>
		<td><%= r.reason%></td>
		<td><%= r.leavetype%></td>
		<%approved = r.approved%>
		<%if approved == 0%>
		<td>Pending</td>
		<%elsif approved == 1%>
		<td>Approved</td>
		<%elsif approved == 2%>
		<td>Pending cancellation</td>
		<%end%>
		
		<%if approved==0%>
		<td><a href='/admins/editRecord?id=<%= r.id%>'>Edit</a></td>
		<td><a href='/admins/deleteRecord?id=<%= r.id%>'>Delete</a></td>
		<%elsif approved == 1%>
		<td><a href='/admins/requestCancel?id=<%= r.id%>'>Request Cancellation</a></td>
		<%elsif approved == 2%>
		<td><a href='/admins/removeRequestCancel?id=<%= r.id%>'>Remove Cancellation Request</a></td>
		<%end%>
	</tr>
	<%end%>
</table>

<h1 id='rec'>Add new leave:</h1>

<%= form_for @new_leave, :url => { :action => "addLeave" }, :html => { :multipart => true }  do |f|  %>
<table align="center">
	<tr>
		<td>Date From:</td><td><%= f.date_field  :datestart %></td><td><%=f.select(:starttime, "<option>AM</option><option>PM</option>".html_safe)%></td>
	</tr>
	<tr>
		<td>Date To:</td><td> <%= f.date_field  :dateend %></td><td><%=f.select(:endtime, "<option>AM</option><option>PM</option>".html_safe)%></td>
	</tr>
	<tr>
		<td>Type:</td><td><%= f.select(:leavetype, "<option>normal</option><option>childcare</option><option>unpaid</option><option>medical</option>".html_safe)   %></td>
	</tr>
	<tr>
		<td>Reason:</td><td><%= f.text_field  :reason %></td>
	</tr>
	<tr>
		<td>If taking MC, attach photo of MC</td><td><%= f.file_field  :avatar%></td>
	</tr>
	<%=f.hidden_field(:staff_id, :value => session[:user])%>

	<tr>
		<td></td><td><%= f.submit "Add record", class: "btn btn-primary" %></td>
	</tr>
	<%end%>
	</table>
	<h2>Report Sick</h2>
	<%if @reportedtoday == true%>
	<p style = 'color:red'>You have reported sick today</p>
	<%end%>
<%= form_for @reportsick, :url => { :action => "reportsick" }  do |f|  %>
	<%=f.hidden_field :staffid, :value => session[:user]%>
	<%= f.submit "Report sick", class: "btn btn-primary", data: { confirm: 'Confirmation: You are going to report sick today' } %>
<%end%>

<script>
$(document).ready(function() {
    $('#sf').dataTable();
} );

</script>