<h2>View my profile</h2>

<p>
  <strong>Profile photo</strong>
  <a href='<%= @staff.photo.url %>'>Download</a>
</p>

<p>
  <strong>IC front</strong>
  <a href='<%= @staff.icfront.url %>'>Download</a>
</p>

<p>
  <strong>IC back</strong>
  <a href='<%= @staff.icback.url %>'>Download</a>
</p>

<p>
  <strong>Child birth cert</strong>
  <a href='<%= @staff.childbirthcert.url %>'>Download</a>
</p>


<p>
  <strong>Salutation:</strong>
  <%= @staff.salutation %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @staff.fullname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @staff.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @staff.telephone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @staff.dob %>
</p>

<p>
  <strong>Birthplace:</strong>
  <%= @staff.birthplace %>
</p>

<p>
  <strong>Race:</strong>
  <%= @staff.race %>
</p>

<p>
  <strong>Dialect:</strong>
  <%= @staff.dialect %>
</p>

<p>
  <strong>Nric:</strong>
  <%= @staff.nric %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @staff.colour %>
</p>

<p>
  <strong>Citizenship:</strong>
  <%= @staff.citizenship %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @staff.sex %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @staff.religion %>
</p>

<p>
  <strong>Incometaxno:</strong>
  <%= @staff.incometaxno %>
</p>

<p>
  <strong>Drivinglicenseno:</strong>
  <%= @staff.drivinglicenseno %>
</p>

<p>
  <strong>Maritalstatus:</strong>
  <%= @staff.maritalstatus %>
</p>

<p>
  <strong>Spousename:</strong>
  <%= @staff.spousename %>
</p>

<p>
  <strong>Spouseoccupation:</strong>
  <%= @staff.spouseoccupation %>
</p>

<p>
  <strong>Noofchildren:</strong>
  <%= @staff.noofchildren %>
</p>

<p>
  <strong>Agerange:</strong>
  <%= @staff.agerange %>
</p>

<p>
  <strong>Emergencyname:</strong>
  <%= @staff.emergencyname %>
</p>

<p>
  <strong>Emergencyrelationship:</strong>
  <%= @staff.emergencyrelationship %>
</p>

<p>
  <strong>Emergencyaddress:</strong>
  <%= @staff.emergencyaddress %>
</p>

<p>
  <strong>Emergencytelephone:</strong>
  <%= @staff.emergencytelephone %>
</p>







<p>
  <strong>Languagespoken:</strong>
  <%= @staff.languagespoken %>
</p>

<p>
  <strong>Languagewritten:</strong>
  <%= @staff.languagewritten %>
</p>

<p>
  <strong>Physicaldisability:</strong>
  <%= @staff.physicaldisability %>
</p>

<p>
  <strong>Majorillness:</strong>
  <%= @staff.majorillness %>
</p>

<p>
  <strong>Staffid:</strong>
  <%= @staff.staffid %>
</p>



<p>
  <strong>Profession:</strong>
  <%= @staff.profession %>
</p>

<p>
  <strong>Company:</strong>
  <%= @staff.company %>
</p>

<p>
  <strong>Dateemployed:</strong>
  <%= @staff.dateemployed %>
</p>

<p>
  <strong>Dobchild:</strong>
  <%= @staff.dobchild %>
</p>

<p>
  <strong>Department:</strong>
  <%= @staff.department %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @staff.tier %>
</p>
