
<head>
	
</head>


<h1>Company Page</h1>


<div id="navigation">
		<a href="#sf">All info</a>
		<a href="#mngStff">Manage Staff</a>
		<a href="#stf">Staff</a>
		<a href="#tele">Telemarket</a>
		<a href="#user">Add user</a>
		<a href="/pagesgro/overall">Overall View</a>
		<a href="/admins/approveleave">Approve Leave</a>
		<a href="/admins/calendar">View leaves calendar</a>
		<a href="/pagesgro/logout">Logout</a>
</div>

<!--<style>
.sidebar {
   display: inline-block; 
   webkit-box-shadow: 0 8px 6px -6px black; 
   -moz-box-shadow: 0 8px 6px -6px black; 
   box-shadow: 0 8px 6px -6px black; 
   padding: 10px; 
   margin-bottom: 5px !important; 
   border: 1px solid #D7D7D7
   width: 45px;
   height: 120px;
   position: fixed;
   left: 0px;
   top: 300px;
}
</style>
<div class='sidebar'>
	<ul>
		<b>Menu</b>
		<li><a href="#sf">All info</a></li>
		<li><a href="#mngStff">Mng Staff</a></li>
		<li><a href="#stf">Staff</a></li>
		<li><a href="#tele">Telemrkt</a></li>
		<li><a href="#user">Add user</a></li>
	</ul>
</div>
-->

<%if session[:type]=="Master"%>
<h4>Set filters:</h4>
<br>

<%= form_tag("/pagesgro/company/", :method => "post") do %>
Grade: <%= select_tag("selections[]", "<option>0%</option><option>25%</option><option>50%</option><option>75%</option><option>100%</option>".html_safe, multiple:true)%>
Date Start: <%= date_field_tag(:startdate)%> Date End: <%= date_field_tag(:enddate)%>
<%= submit_tag("Filter", :class=>"btn") %>

<%end%>

<form>
Search: <input name="filter" onkeyup="filter2(this, 'sf', 1)" type="text">
</form>

<%if !@records.nil?%>
<table class = "table table-bordered table-condensed", id='sf'>
	<tr>
		<th></th>
		<th>Company Name</th>
		<th>Address</th>
		<th>Postal Code</th>
		<th>Contact Person</th>
		<th>Position</th>
		<th>Hp</th>
		<th>Office</th>
		<th>Email</th>
		<th>Appt By</th>
		<th>Appt Date</th>
		<th>Remarks</th>		
		<td bgcolor=#00FF00><b>AttendedBy</b></td>
		<td bgcolor=#00FF00><b>Grade</b></td>
		<td bgcolor=#00FF00><b>Remarks</b></td>

	</tr>
	<%@records.each do |r|%>
	<tr>
		<td onclick=""><button>+</button></td>
		<td><%= r.companyName%></td>
		<td><%= r.address%></td>
		<td><%= r.postalCode%></td>
		<td><%= r.contactPerson%></td>
		<td><%= r.position%></td>
		<td><%= r.hp%></td>
		<td><%= r.office%></td>
		<td><%= r.email%></td>
		<td><%= r.apptBy%></td>
		<%if r.dateAppt.nil?%>
		<td></td>
		<%else%>
		<td><%= r.dateAppt.strftime('%-Y-%m-%d %H:%M')%></td>
		<%end%>
		
		<td><%= r.remarks%></td>
		<td><%= r.attendedBy%></td>
		<td><%= r.attendedByGrade%></td>
		<td><%= r.attendedByRemarks%></td>
	</tr>
	<tr class="success">
		<%= form_tag("/pagesgro/update/", :method => "post") do %>
		<td colspan="15">
		<p>
			Staff:<%= select_tag(:staff, options_from_collection_for_select(@staff, "staffid", "staffid"), include_blank:true, :class => "span1")%>
			Grade: <%= select_tag(:grade, "<option>0%</option><option>25%</option><option>50%</option><option>75%</option><option>100%</option>".html_safe, include_blank:true, :class => "span1") %>
			Remarks: <%= text_field_tag(:remarks) %><br>
			<%= hidden_field_tag(:id, r.id)%>
			<%= submit_tag("Update", :class=>"btn") %>
		</p></td>
		<%end%>
	</tr>

	<%end%>
</table>
<%end%>


<!-- <h2 id='mngStff'>Admin - Manage Staff</h2>
<a href='/pagesgro/loginRecord'>View login records</a>

<h3 id='stf'>Staff</h3>
<table class = "table table-bordered">
	<tr>
		<th>Username</th><th>Password</th>
	</tr>
	<%@staff.each do |s|%>
	<tr>
		<td><%= s.staffid%></td><td><%= s.password%></td><td><a href='/pagesgro/edit?type=staff&id=<%= s.id%>'>Edit</a></td>
		<td><a href='/pagesgro/delete?type=staff&id=<%= s.id%>'>Delete</a></td>
	</tr>
	<%end%>
</table>
<br>
<h3 id='tele'>Telemarketers</h3>
<table class = "table table-bordered">
	<tr>
		<th>Username</th><th>Password</th>
	</tr>
	<%@telemarketers.each do |s|%>
	<tr>
		<td><%= s.staffid%></td><td><%= s.password%></td><td><a href='/pagesgro/edit?type=telemarketer&id=<%= s.id%>'>Edit</a></td>
		<td><a href='/pagesgro/delete?type=telemarketer&id=<%= s.id%>'>Delete</a></td>
	</tr>
	<%end%>
</table>
<br>

<h2 id='user'>Add new user</h2>
<%= form_tag("/pagesgro/adduser/", :method => "post") do %>
<table>
	<tr>
		<td>Username:</td><td><%= text_field_tag(:username)%></td>
	</tr>
	<tr>
		<td>Password:</td><td><%= text_field_tag(:password)%></td>
	</tr>
	<tr>
		<td>Type:</td><td><%= select_tag(:type, "<option>Staff</option><option>Telemarketer</option>".html_safe)%></td>
	</tr>
	<tr>
		<td></td><td><%= submit_tag("Add User", :class=>"btn") %></td>
	</tr>
	<%end%>
	<%end%>
</table> -->
<!-- Javascript-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

		$(function() {
			$("td[colspan=15]").find("p").hide();
			$("td[onclick='']").click(function(event) {
				event.stopPropagation();
				var $target = $(event.target);
				if ($target.closest("td").attr("colspan") > 1) {
					$target.closest("tr").prev().find("td:first").html("<button>+</button>");
				} else {
					$target.closest("tr").next().find("p").slideToggle();
					if ($target.closest("tr").find("td:first").html() === "<button>+</button>")
						$target.closest("tr").find("td:first").html("<button>-</button>");
					else
						$target.closest("tr").find("td:first").html("<button>+</button>");
				}
			});
		});
	</script>
