<%= form_for @new_staff, :url => { :action => "edit2" }, :method => :POST  do |f|  %>

<table align="center">
	<%if @type == 'staff'%>
	<tr>
		<td>Username:</td><td> <%= f.text_field  :staffid %></td>
	</tr>
	<%= hidden_field_tag(:type, 'staff')%>
	<%else%>
	<tr>
		<td>Username: </td><td><%= f.text_field  :staffid %></td>
	</tr>
	<%= hidden_field_tag(:type, 'telemarketer')%>
	<%end%>

	<tr>
		<td>Password: </td><td><%= f.text_field  :password %></td>
	</tr>
	<%= f.hidden_field  :id %>

	<tr>
		<td></td>
		<td><%= f.submit "Update", class: "btn btn-primary" %>
		<%end%></td>
	</tr>
</table>

