<h1>Staff Page</h1>

<div id="navigation">
		<a href="#sf">All info</a>
		<a href="#rec">Add record</a>

		<a href="/pagesgro/overall">Overall View</a>
		<a href="/admins/leave">Apply Leave</a>
		<a href="/admins/profile">Set my profile</a>
		<a href="/pagesgro/logout">Logout</a>
</div>


<!--<style>
.sidebar {
   display: inline-block; 
   webkit-box-shadow: 0 8px 6px -6px black; 
   -moz-box-shadow: 0 8px 6px -6px black; 
   box-shadow: 0 8px 6px -6px black; 
   padding: 10px; 
   margin-bottom: 5px !important; 
   border: 1px solid #D7D7D7
   width: 45px;
   height: 120px;
   position: fixed;
   left: 0px;
   top: 300px;
}
</style>
<div class='sidebar'>
	<ul>
		<b>Menu</b>
		<li><a href="#sf">All info</a></li>
		<li><a href="#rec">Add rec</a></li>
	</ul>
</div>
-->


<form>
Search: <input name="filter" onkeyup="filter2(this, 'sf', 1)" type="text">
</form><br>

<%if session[:type]=='Staff'%>
<%if !@records.nil?%>
<table class = "table table-bordered table-condensed", align='center', id='sf'>
	<tr>
		<th>Company Name</th>
		<th>Address</th>
		<th>Postal Code</th>
		<th>Contact Person</th>
		<th>Position</th>
		<th>Hp</th>
		<th>Office</th>
		<th>Email</th>
		<th>Appt By</th>
		<th>Appt Date</th>
		<th>Remarks</th>	
		<td bgcolor=#00FF00><b>AttendedBy</b></td>
		<td bgcolor=#00FF00><b>Grade</b></td>
		<td bgcolor=#00FF00><b>Remarks</b></td>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<%@records.each do |r|%>
	<tr>
		<td><%= r.companyName%></td>
		<td><%= r.address%></td>
		<td><%= r.postalCode%></td>
		<td><%= r.contactPerson%></td>
		<td><%= r.position%></td>
		<td><%= r.hp%></td>
		<td><%= r.office%></td>
		<td><%= r.email%></td>
		<td><%= r.apptBy%></td>
		<td><%= r.dateAppt%></td>
		<td><%= r.remarks%></td>
		<td><%= r.attendedBy%></td>
		<td><%= r.attendedByGrade%></td>
		<td><%= r.attendedByRemarks%></td>
		<td><a href='/pagesgro/editRecord?id=<%= r.id%>'>Edit</a></td>
		<td><a href='/pagesgro/deleteRecord?id=<%= r.id%>'>Delete</a></td>

	</tr>
	<%end%>
</table>
<%end%>

<h2 id='rec'>Add new record:</h2>

<%= form_for @new_record, :url => { :action => "add" }  do |f|  %>
<table align='center'>
	<tr>
		<td>Company Name:</td><td><%= f.text_field  :companyName %></td>
	</tr>
	<tr>
		<td>Address:</td><td> <%= f.text_field  :address %></td>
	</tr>
	<tr>
		<td>Postal Code:</td><td><%= f.text_field  :postalCode %></td>
	</tr>
	<tr>
		<td>Contact Person:</td><td><%= f.text_field  :contactPerson %></td>
	</tr>
	<tr>
		<td>Position:</td><td><%= f.text_field  :position %></td>
	</tr>
	<tr>
		<td>Hp:</td><td> <%= f.text_field  :hp %></td>
	</tr>
	<tr>
		<td>Office:</td><td> <%= f.text_field  :office %></td>
	</tr>
	<tr>
		<td>Email: </td><td><%= f.text_field  :email %></td>
	</tr>

	<!-- <%= f.text_field  :apptBy %>:apptBy<br> -->
	<tr>
		<td>Date Appt: </td><td><%= f.datetime_local_field  :dateAppt %></td>
	</tr>
	<tr>
		<td>Remarks: </td><td><%= f.text_field  :remarks %></td>
	</tr>
	<tr>
		<td>Attended By: </td><td><%= f.select(:attendedBy, options_from_collection_for_select(@staff, "staffid", "staffid"), include_blank: true)%></td>
	</tr>
	<tr>
		<td>Grade: </td><td><%= f.select(:attendedByGrade, "<option>0%</option><option>25%</option><option>50%</option><option>75%</option><option>100%</option>".html_safe, include_blank: true) %></td>
	</tr>
	<!-- <%= f.text_field  :attendedBy %>:attendedBy<br> -->
	<!-- <%= f.text_field  :attendedByGrade %>grade<br> -->
	<tr>
		<td>Remarks:</td><td> <%= f.text_field  :attendedByRemarks %></td>
	</tr>
	<tr>
		<td></td><td><%= f.submit "Add record", class: "btn btn-primary" %></td>
	</tr>

	<%end%>
	<%end%>
</table>