<h2>Pay for <%=@staffid%> for the month of <%=@month%></h2>
<%if !flash[:error].nil?%>
<%=flash[:error]%>
<%end%>
<p>
  <strong>Basic pay:</strong>
  <%= @basic %>
</p>
<p>
  <strong>Employer cpf:</strong>
  <%= @employercpf %>%
</p>
<p>
  <strong>Employee cpf:</strong>
  <%= @employeecpf %>%
</p>
<p>
  <strong>Days attended:</strong>
  <%= @total %>
</p>
<p>
  <strong>Attendance incentive:</strong>
  <%= @attendanceincentive %>
</p>
<p>
  <strong>Target:</strong>
  <%= @target %>
</p>
<p>
  <strong>Performance:</strong>
  <%= @performance %>
</p>
<p>
  <strong>Total sales:</strong>
  <%= @sumsales %>
</p>
<p>
  <strong>Commission rate:</strong>
  <%= @commissionrate %>
</p>
<p>
  <strong>Commission:</strong>
  <%= @commission %>
</p>
<p>
  <strong>Deduction:</strong>
  <%= @deduction %>
</p>

<p>
  <strong>Final pay:</strong>
  <%= @pay %>
</p>
<p>
  <strong>Employer contribution:</strong>
  <%= @employercontribution %>
</p>
<%if !@finalrecords.nil?%>
<h3>Sales</h3>
<table class='table table-bordered'>
	<tr>
		<th>Invoice Number</th>
		<th>Amount</th>
		<th>Deposit details</th>
		<th>On hold</th>
	</tr>
	<%@finalrecords.each do |f|%>
		<tr>
			<td><%=f.invoiceno%></td>
			<td><%=f.closedamount%></td>
			<td><%=f.depositbreakdown%></td>
			<%if f.onhold%>
			<td><a href='/hrs/togglehold?id=<%=f.id%>&company=<%=@company%>&staffid=<%=@staffid%>&year=<%=@year%>&month=<%=@month%>'>On hold</a></td>
			<%else%>
			<td><a href='/hrs/togglehold?id=<%=f.id%>&company=<%=@company%>&staffid=<%=@staffid%>&year=<%=@year%>&month=<%=@month%>'>Not on hold</a></td>
			<%end%>
		</tr>
	<%end%>
	<%end%>
</table>
