<h1>Staff Attendance</h1>
<p>
	Add attendance for date:<%=@selectedDate%>. 
</p>
<p>
<u><a href="/hrs/viewattendance">View all attendance</a></u>
</p>

<%= form_tag "/hrs/addattendance" do %>
<%=hidden_field_tag("selectedDate", @selectedDate.to_s)%>
	<table>	
		<tr>
			<td><b>Staff</b> </td>
			<td><b>Leave Type</b></td>
			<td><b>Time In</b></td>
		</tr>
		<%i = 0%>
		<%@staffs.each do |s|%>
		<%=hidden_field_tag("staffid"+i.to_s, s.staffid)%>
		
		<tr>
			<td><%= s.staffid%></td>

			<td>
			<select name="status<%=i.to_s%>">
				<option value="nil"> NIL (Present)</option>
				<option value="halfday"> Half Day</option>
				<option value="leave"> Normal Leave</option>
				<option value="unpaid">Unpaid Leave</option>
				<option value="mc">MC</option>
			</select> </td>
			<td><input type="text" name="timein<%=i.to_s%>"></td>
		</tr>
		<%i = i+1%>
		<%end%>
		
	</table>

<p></p>
			
			<p></p>
<%= submit_tag("Add attandance", :class=>"btn")%> <a href="/hrs/attendance">Back</a>
			<%end%>