<%= form_for(@appendix) do |f| %>
  <% if @appendix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appendix.errors.count, "error") %> prohibited this appendix from being saved:</h2>

      <ul>
      <% @appendix.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :supportdoc %><br>
    <%= f.file_field :supportdoc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
