<head>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
		$(function() {
			$("td[colspan=15]").find("p").hide();
			$("table[class = 'table table-bordered table-condensed']").click(function(event) {
				event.stopPropagation();
				var $target = $(event.target);
				if ($target.closest("td").attr("colspan") > 1) {
					$target.closest("tr").prev().find("td:first").html("+");
				} else {
					$target.closest("tr").next().find("p").slideToggle();
					if ($target.closest("tr").find("td:first").html() === "+")
						$target.closest("tr").find("td:first").html("-");
					else
						$target.closest("tr").find("td:first").html("+");

				}
			});
		});
	</script>
</head>


<h1>Company Page</h1>

<%if session[:type]=="Master"%>
<h4>Set filters:</h4>
<br>

<%= form_tag("/pages/company/", :method => "post") do %>
Grade: <%= select_tag("selections[]", "<option>0%</option><option>25%</option><option>50%</option><option>75%</option><option>100%</option>".html_safe, multiple:true)%>
Date Start: <%= date_field_tag(:startdate)%> Date End: <%= date_field_tag(:enddate)%>
<%= submit_tag("Filter", :class=>"btn") %>

<%end%>

<%if !@records.nil?%>
<table class = "table table-bordered table-condensed">
	<tr>
		<td></td>
		<td><b>Company Name</b></td>
		<td><b>Address</b></td>
		<td><b>Postal Code</b></td>
		<td><b>Contact Person</b></td>
		<td><b>Position</b></td>
		<td><b>Hp</b></td>
		<td><b>Office</b></td>
		<td><b>Email</b></td>
		<td><b>Appt By</b></td>
		<td><b>Appt Date</b></td>
		<td><b>Remarks</b></td>		
		<td bgcolor=#00FF00><b>AttendedBy</b></td>
		<td bgcolor=#00FF00><b>Grade</b></td>
		<td bgcolor=#00FF00><b>Remarks</b></td>

	</tr>
	<%@records.each do |r|%>
	<tr>
		<td>+</td>
		<td><%= r.companyName%></td>
		<td><%= r.address%></td>
		<td><%= r.postalCode%></td>
		<td><%= r.contactPerson%></td>
		<td><%= r.position%></td>
		<td><%= r.hp%></td>
		<td><%= r.office%></td>
		<td><%= r.email%></td>
		<td><%= r.apptBy%></td>
		<%if r.dateAppt.nil?%>
		<td></td>
		<%else%>
		<td><%= r.dateAppt.strftime('%-Y-%m-%d %H:%M')%></td>
		<%end%>
		
		<td><%= r.remarks%></td>
		<td><%= r.attendedBy%></td>
		<td><%= r.attendedByGrade%></td>
		<td><%= r.attendedByRemarks%></td>
	</tr>
	<tr class="success">
		<%= form_tag("/pages/update/", :method => "post") do %>
		<td colspan="15">
		<p>
			Staff:<%= select_tag(:staff, options_from_collection_for_select(@staff, "staffid", "staffid"), include_blank:true, :class => "span1")%>
			Grade: <%= select_tag(:grade, "<option>0%</option><option>25%</option><option>50%</option><option>75%</option><option>100%</option>".html_safe, include_blank:true, :class => "span1") %>
			Remarks: <%= text_field_tag(:remarks) %><br>
			<%= hidden_field_tag(:id, r.id)%>
			<%= submit_tag("Update", :class=>"btn") %>
		</p></td>
		<%end%>
	</tr>

	<%end%>
</table>
<%end%>


<h2>Admin - Manage Staff</h2>
<a href='/pages/loginRecord'>View login records</a>

<h3>Staff</h3>
<table class = "table table-bordered">
	<tr>
		<th>Username</th><th>Password</th>
	</tr>
	<%@staff.each do |s|%>
	<tr>
		<td><%= s.staffid%></td><td><%= s.password%></td><td><a href='/pages/edit?type=staff&id=<%= s.id%>'>Edit</a></td>
		<td><a href='/pages/delete?type=staff&id=<%= s.id%>'>Delete</a></td>
	</tr>
	<%end%>
</table>
<br>
<h3>Telemarketers</h3>
<table class = "table table-bordered">
	<tr>
		<th>Username</th><th>Password</th>
	</tr>
	<%@telemarketers.each do |s|%>
	<tr>
		<td><%= s.teleid%></td><td><%= s.password%></td><td><a href='/pages/edit?type=telemarketer&id=<%= s.id%>'>Edit</a></td>
		<td><a href='/pages/delete?type=telemarketer&id=<%= s.id%>'>Delete</a></td>
	</tr>
	<%end%>
</table>
<br>

<h2>Add new user</h2>
<%= form_tag("/pages/adduser/", :method => "post") do %>
<table>
	<tr>
		<td>Username:</td><td><%= text_field_tag(:username)%></td>
	</tr>
	<tr>
		<td>Password:</td><td><%= text_field_tag(:password)%></td>
	</tr>
	<tr>
		<td>Type:</td><td><%= select_tag(:type, "<option>Staff</option><option>Telemarketer</option>".html_safe)%></td>
	</tr>
	<tr>
		<td></td><td><%= submit_tag("Add User", :class=>"btn") %></td>
	</tr>
	<%end%>
	<%end%>
</table>

