<h1>Overall Page</h1>
<form>
Search: <input name="filter" onkeyup="filter2(this, 'sf', 1)" type="text">
</form><br>

<%if !@records.nil?%>
<table class = "table table-bordered table-condensed", id='sf'>
	<thead><tr>
		<th>Company Name</th>

		<th>Contact Person</th>

		<th>Appt By</th>
		<th>Appt Date</th>
		
		
		<td bgcolor=#00FF00><b>Attended By</b></td>
		<td bgcolor=#00FF00><b>Grade</b></td>
		<td bgcolor=#00FF00><b>Remarks</b></td>
	</tr></thead>
	<%@records.each do |r|%>
	<tr>
		<td><%= r.companyName%></td>

		<td><%= r.contactPerson%></td>

		<td><%= r.apptBy%></td>
		<td><%= r.dateAppt%></td>
		
		<td><%= r.attendedBy%></td>
		<td><%= r.attendedByGrade%></td>
		<td><%= r.attendedByRemarks%></td>

	</tr>
	<%end%>
</table>
<%end%>

<script>
$(document).ready(function() {
    $('#sf').dataTable();
} );

</script>