<table class = "table table-bordered table-condensed">
	<tr>
		<th>Staff ID</th>
		<th>Basic</th>
		<th>Employer CPF (%)</th>
		<th>Employee CPF (%)</th>
		<th>Attendance incentive</th>
		<th>Performance</th>
		<th>Target</th>
		<th>Commission (%)</th>
		<th>Deduction</th>
	</tr>

	<%@compiledList.each do |x|%>
	<%=form_for @newPay, :url => {:action => "addPay"} do |f|%>
	<tr>
		<%if x.instance_of?(Staffpay)%>
		<td><%= Staff.find_by_id(x.staffid).staffid%></td>
		<td><%= f.number_field(:basic, :value => x.basic) %> </td>
		<td><%= f.number_field(:employerCpf, :value => x.employerCpf, :required => true) %> </td>
		<td><%= f.number_field(:employeeCpf, :value => x.employeeCpf, :required => true) %> </td>
		<td><%= f.number_field(:attendance, :value => x.attendance, :required => true) %> </td>
		<td><%= f.number_field(:performance, :value => x.performance, :required => true) %> </td>
		<td><%= f.number_field(:target, :value => x.target, :required => true) %> </td>
		<td><%= f.number_field(:commission, :value => x.commission, :required => true) %> </td>
		<td><%= f.number_field(:deduction, :value => x.deduction, :required => true) %> </td>
		<%= f.hidden_field(:staffid, :value => x.staffid)%>
		<%else%>
		<td><%= x.staffid%></td>
		<td><%= f.number_field(:basic, :value => "", :placeholder => 0, :required => true) %> </td>
		<td><%= f.number_field(:employerCpf, :value => "", :placeholder => 0, :required => true) %> </td>
		<td><%= f.number_field(:employeeCpf, :value => "", :placeholder => 0, :required => true) %> </td>
		<td><%= f.number_field(:attendance, :value => "", :placeholder => 0, :required => true) %> </td>
		<td><%= f.number_field(:performance, :value => "", :placeholder => 0, :required => true) %> </td>
		<td><%= f.number_field(:target, :value => "", :placeholder => 0, :required => true) %> </td>
		<td><%= f.number_field(:commission, :value => "", :placeholder => 0, :required => true) %> </td>
		<td><%= f.number_field(:deduction, :value => "", :placeholder => 0, :required => true) %> </td>
		<%= f.hidden_field(:staffid, :value => x.id)%>
		<%end%>

		<td><%= submit_tag("Update", :class=>"btn") %></td>
		
	</tr>
	<%end%>

	<%end%>

</table>