<!DOCTYPE html>
<html>
	<head>
		<title>GroVenture</title>

		<!-- <link rel='stylesheet' type='text/css' href='fullcalendar.css' />
		<script type='text/javascript' src='jquery.js'></script>
		<script type='text/javascript' src='fullcalendar.js'></script> -->

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

		<!-- <script data-turbolinks-track="true" src="/assets/jquery.min.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/moment.min.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/jquery-1.10.2.min.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/jquery.dataTables.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/dataTables.bootstrap.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/admins.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/fullcalendar.js?body=1"></script>

		<script data-turbolinks-track="true" src="/assets/pages.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/pagesgro.js?body=1"></script>
		<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script> -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<%= csrf_meta_tags %>
		<style type="text/css">
			body {
				padding-top: 130px;
			}
		</style>
	</head>
	<body>

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="navbar-inner">

						<ul class="nav navbar-nav">
							<% role = session[:type]%>
							<% company = session[:company]%>
							<%if role == 'Telemarketer' && company == 'groventure'%>
							<li>
								<a href="/pagesgro/tele">Work</a>
							</li>
							<%elsif role == 'Telemarketer' && company == 'dreamwrkz'%>
							<li>
								<a href="/pages/tele">Work</a>
							</li>
							<%elsif role == 'Staff' && company == 'groventure'%>
							<li>
								<a href="/pagesgro/staff">Work</a>
							</li>
							<%elsif role == 'Staff' && company == 'dreamwrkz'%>
							<li>
								<a href="/pages/staff">Work</a>
							</li>
							<%end%>
							<%if role == 'Telemarketer' || role == 'Staff'%>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage My Account <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/admins/profile">Set My Profile</a>
									</li>
									<li>
										<a href="/admins/changepassword">Change My Password</a>
									</li>

								</ul>
							</li>
							<li>
								<a href="/admins/leave">Take Leave</a>
							</li>
							<%if company == 'dreamwrkz'%>
							<li>
								<a href="/pages/overall">Overall View</a>
							</li>
							<%elsif company == 'groventure'%>
							<li>
								<a href="/pagesgro/overall">Overall View</a>
							</li>
							<%end%>

							<%end%>

							<% tierInDb = Setting.find_by_id(1).numtiers%>
							<%if !session[:tier].nil? && session[:tier] < tierInDb-1 && session[:tier] != 0%>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Employees <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/admins/approveleave?under=<%=session[:user]%>">Approve Leaves</a>
									</li>
									<li>
										<a href="/admins/employeeinfo?under=<%=session[:user]%>">Manage Employee Info</a>
									</li>

								</ul>
							</li>
							<li>
								<a href="/admins/calendar">View Calendar</a>
							</li>
							<%end%>
							<%if session[:type] == 'Master'%>
							<li>
								<a href="/pages/company">Dreamwrkz Work</a>
							</li>
							<li>
								<a href="/pagesgro/company">Groventure Work</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Approve Leaves <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/admins/approveleave?tier=1">Tier 1 Employees</a>
									</li>
									<li>
										<a href="/admins/approveleave?tier=2">Tier 2 Employees</a>
									</li>
									<%if Setting.find_by_id(1).numtiers==4%>
									<li>
										<a href="/admins/approveleave?tier=3">Tier 3 Employees</a>
									</li>
									<%end%>
									<li>
										<a href="/admins/setbroughtforward">Set brought forward leave period</a>
									</li>

								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Employees <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/admins/manageemployees">Manage employee structure</a>
									</li>
									<li>
										<a href="/admins/employeeinfo">Manage employee info</a>
									</li>
									<li>
										<a href="/admins/organstructure">See organisational structure</a>
									</li>
									<li>
										<a href='/admins/loginRecord'>View login records</a>
									</li>
									<li>
										<a href='/admins/addRemove'>Add/Remove Employees</a>
									</li>

								</ul>
							</li>
							<li>
								<a href="/admins/calendar">View Calendar</a>
							</li>
							<li>
								<a href="#">View Employee Timetable</a>
							</li>
							<li>
								<a href="/admins/viewsales">View Sales Records</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Employees <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/admins/manageemployees">Manage employee structure</a>
									</li>
									<li>
										<a href="/admins/employeeinfo">Manage employee info</a>
									</li>
									<li>
										<a href="/admins/organstructure">See organisational structure</a>
									</li>
									<li>
										<a href='/admins/loginRecord'>View login records</a>
									</li>
									<li>
										<a href='/admins/addRemove'>Add/Remove Employees</a>
									</li>

								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin tools <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/appendixes">Appendixes</a>
									</li>
									<li>
										<a href="/products">Products sold by our company</a>
									</li>
									<li>
										<a href="/logos">Company logos</a>
									</li>
									<li>
										<a href='/letters'>Employee letters</a>
									</li>
									

								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">HR tools <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/staffs">Applicants</a>
									</li>
									<li>
										<a href="/staffs/new">Application form</a>
									</li>
									<li>
										<a href="/pays/paySet">Manage CPF/Commissions</a>
									</li>
									<li>
										<a href='/pages/workingday'>Set working days per month</a>
									</li>
									<li>
										<a href='/admins/generateLetter'>Create letter</a>
									</li>

								</ul>
							</li>
							<%end%>

						</ul>
						<!-- More nav bar links to be added later -->
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="/admins/logout">Logout</a>
							</li>
							<li>
								<%= link_to "Back", :back %>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</nav>

		<div class="container-fluid full-width">
			<!-- <ul class="nav nav-tabs">
			<center>
			<table>
			<%if session[:company].nil?%>
			<a href="/admins/index"><%= image_tag "dreamwrkz.png", height: '100', weight: '100'%></a>
			<a href="/admins/index"><%= image_tag "groventure.jpg", height: '100', weight: '100'%></a>
			<%elsif session[:company] == 'dreamwrkz'%>
			<a href="/admins/index"><%= image_tag "dreamwrkz.png", height: '100', weight: '100'%></a>
			<%elsif session[:company] == 'groventure'%>
			<a href="/admins/index"><%= image_tag "groventure.jpg", height: '100', weight: '100'%></a>
			<%end%>
			</table>
			<center>
			</ul> -->
			<%= yield %>
		</div>

	</body>
</html>

<!-- Javascript-->
<!-- Filter table-->
<script type="text/javascript">
	function filter2(phrase, _id) {
		var words = phrase.value.toLowerCase().split(" ");
		var table = document.getElementById(_id);
		var ele;
		for (var r = 1; r < table.rows.length; r++) {
			ele = table.rows[r].innerHTML.replace(/<[^>]+>/g, "");
			var displayStyle = 'none';
			for (var i = 0; i < words.length; i++) {
				if (ele.toLowerCase().indexOf(words[i]) >= 0)
					displayStyle = '';
				else {
					displayStyle = 'none';
					break;
				}
			}
			table.rows[r].style.display = displayStyle;
		}
	}
</script>

